$cartus-palette: (
        cartus_blue : #4F85C4,
        cartus_accent_blue_disabled : #a6c2ff,
        cartus_accent_blue1: #4B85FF,
        cartus_gray : #575A5D,
        cartus_dark_navy : #173159,
        cartus_light_blue : #CCE1EF,
        cartus_light_warm_gray : #EEECE9,
        cartus_sky : #88B2D8,
        cartus_mint : #00838f,
        cartus_primary_blue: #3C72B9,
        cartus_primary_blue_contrast: #FFFFFF,
        cartus_primary_dark_blue: #173159,
        cartus_primary_mint: #A5E5D9,
        cartus_primary_dark_brown: #575A5D,
        cartus_secondary_gray: #A5ACB0,
        cartus_seconday_off_white: #EEECE9,
        cartus_secondary_baby_blue: #88B2D8,
        cartus_secodary_light_blue: #CCE1EF,
        cartus_notification_icon_green: #048500,
        cartus_menu_divider: #666666,
        cartus_nav_tile_hover: #ecf3f9,
        cartus_nav_tile: #ffffff,
        cartus_alt_text: #696969,
        cartus_link_color: #3c72b9,
        cartus_mint_2: #d2f2ec,
        cartus_seconday_off_white_2: #f3f3f3,
        cartus_tile_footer_background: #ffffff,
        cartus_hover_background_color: #D4E0F0,
        cartus_accent_blue:#3C72B9,
        cartus_dark_accent_blue: #002F82,
        cartus_disabled_gray: #AAAAAA,
        cartus_light_gray: #b1b0b0,
        cartus_orange_tint: #FDE8D6,
        cartus_hover_tint: #EDF4D9,
        cartus_error_feedback: #D60000,
        cartus_pale_gray: #CCCCCC,
        cartus_warning_color:#EA6812,
        cartus_highlight:#ffff00,
        cartus_couple_color: #004E8B,
        cartus_family_color: #00275D,
        cartus_search_box_color: #F0F0F0,
        cartus_person_color: #3E79BB,
        cartus_username_color: #4D4F5C,
        cartus_footer_text_color: #787878,
        cartus_privacy_background_color: #F7F7F7,
        cartus_red: #D60000,
        cartus_purple: #993366,
        cartus_action_button: #2065F8,
        cartus_background_grey: #d3d3d3
);
