.user-opt-drop-down{
    font-size: 1em !important;

    &.mat-menu-panel{
        position: relative;
        top: 1em;

        .mat-menu-content{
            padding: 0 !important;
            width: 190px;
            box-sizing: border-box;

            .mat-menu-item{
                display: flex;
                padding: 0 0 0 20px;
                height: 47px;

                &:hover{
                    background: map-get($cartus-palette, 'cartus_hover_tint');
                }

                .menu-item-txt{
                    font-family: 'Avenir-Medium', sans-serif;
                    font-size: 16px;
                    color: map-get($cartus-palette, 'cartus_accent_dark_blue');
                }
            }

            .menu-item-icon{
                width: 16px;
                height: 16px;
                align-self: center;
            }
        }
    }
}