.addInfolink{
    font-weight: 700;
    color: #2065F8;
    font-family: "Avenir-Book", sans-serif;
    cursor: pointer;
}
.spanText{
    text-align: center;
}
.agent-mat-form{
    font-family: "Avenir-Book", sans-serif;
    font-size: 1em;
}