<footer>
    <div class='some-page-wrapper'>
        <div class='row'>
          <div class='column'>
            <div class="copyright" [innerHTML]="copyright"></div>
          </div>
          <div class='column'>
            <div class="footer-link">
                <span class="link"><a routerLink="/terms-of-use" target="_blank">Terms of Use</a></span>
                <span class="link"><a routerLink="/privacy-statement" target="_blank">Privacy Statement</a></span>
                <span class="link contact"><a routerLink="/contact-us" target="_blank">Contact Us</a></span>
            </div>
          </div>
        </div>
      </div>
</footer>
