<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, max-age=0" />
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
	<defaultDocument>
		<files>
			<remove value="index.html" />
			<add value="index.html" />
		</files>
	</defaultDocument>
  </system.webServer>
  <system.web>
	<compilation debug="false" targetFramework="4.0" />
	<customErrors mode="Off" />
	<trace enabled="false" />
    <pages validateRequest="true" enableSessionState="false" />
	<sessionState mode="Off" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <httpRuntime maxRequestLength="51200" executionTimeout="600" />
  </system.web>
</configuration>
